
.logo{
     color: rgb(235, 247, 245);
     text-align: center;
     text-decoration: solid;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 80px;
     font-weight: bolder;
     background-color: #801b5e;
     height: 100px;
    margin-top: 0%;
    margin-bottom:0;
}
.navigation{
    background-color: aqua;
    height: 50px;
   margin-top: 10px;
   padding-top: 10px;
}
.navigation a{
     position: relative;
     font-size: 1.5em;
     color: #801b5e;
     text-decoration: none;
     font-weight: 500;
     margin-left: 60px;
     margin-right: 60px;
     scroll-behavior:inherit;
}

.navigation a::after{
     content: ' ';
     position: absolute;
     left: 0;
     bottom: -6px;
     width: 100%;
     height: 3px;
     background-color: #8f1212;
     border-radius: 5px;
     transform-origin: right;
     transform: scaleX(0);
     transition:transform.5s;
 }
 .navigation a:hover::after{
     transform-origin: left;
     transform: scaleX(1);
 }
 
 .p1{
    padding-left: 125px;
    padding-right: 125px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
 .head a{
    color: blue;
    font-size: 25px;
    

 }
 .head a:hover{
   color: #dd3f34;
 }
 .home{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    color: rgb(206, 24, 60);
    text-align: center;
 }
 

  .container{
   position: absolute;
padding-left: 120px;
padding-right: 50px;
  }
  

  .content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: x-large;
}

#content div {
   position: relative;
}

i {
 position: absolute;
 top: 8px;
 left: 100px;
 color: antiquewhite;
 font-size:large;
}
.img 
    {
      opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
   }
   .img:hover{
      opacity: .5;
   }
   
   .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .column{
      width: 25%;
        height: 440px;
        margin-left: 50px;
        float: left;
     padding-left: 20px;
     padding-right: 10px;
     margin-top: 50px;
     margin-bottom: 20px;
     color: #0f0c0b;
     background-color: #ffffff;
     border-radius: 10px;
     border: 2px solid white;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
   }
   .column img{
     padding-top: 30px;
     padding-left: 20px;
     width: 200px;
     height: 100px;
   }
   .column h4{
    font-weight: 800;
   }
   .column p{
     font-size: medium;
     color: #0f0c0b;
   }
    .footer{
      background-color: black;
      font-style: oblique;
      color: aliceblue;
      text-align: center;
      width:100%;
      min-height: max-content;
      padding-top: 2px;
      padding-bottom: 2px;
      margin-top: 80%;
      
    }
